<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lipl.youthconnect.youth_connect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:name="com.lipl.youthconnect.youth_connect.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.lipl.youthconnect.youth_connect.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.lipl.youthconnect.youth_connect.MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8b3f9256eace7a2e044cfbff6365843f6bc1f834" />

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowcaseEventDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportFromDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.FileChooser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AskQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QNADetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileUploadDistrictActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileUploadNodalOfficerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileUploadFinalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileUploadDetailFinalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FileChooserMultipleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.EditAnswerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.EditQuestionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.QAAnsweredActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.QAForumActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.QAPendingActivity"
            android:screenOrientation="portrait"/>

        <!--<service-->
        <!--android:name=".activity.Util.NotificationService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true" />-->

        <service
            android:name=".util.FileUploadService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".util.QAUploadService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".util.ReceiverName"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".util.ReceiverName"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.lipl.youthconnect.youth_connect" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" android:enabled="true"
            android:exported="true"/>
        <service android:name="com.pushbots.push.GCMIntentService" />
        <receiver android:name=".util.CustomHandler" android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>